* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html{
    scroll-behavior: smooth;
  }
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
  }
  
  a {
    color: #262626;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  .container {
    width: 90%;
    max-width: 1300px;
    margin: auto;
  }
  
  /* Navba */
  .main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
  }
  .main-menu{
    color: #000;

  }
  
  .main-nav .logo {
    width: 110px;
    height: 70px
  }
  
  .main-nav ul {
    display: flex;
  }
  
  .main-nav ul li {
    padding: 0 10px;
  }
  
  .main-nav ul li a {
    padding-bottom: 2px;
  }
  
  .main-nav ul li a:hover {
    border-bottom: 2px solid #262626;
  }
  
  .main-nav ul.main-menu {
    flex: 1;
    margin-left: 20px;
  }
  
  .menu-btn {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 2;
    display: none;
  }
  
  .btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: blue;
    color: #fff;
    font-size: 15px;;
  }
  
  .btn:hover {
    opacity: 0.9;
    background-color:rgb(18, 1, 1);
  }
  
  .dark {
    color: #fff;
  }
  
  .dark .btn {
    background: #f4f4f4;
    color: #000000;
  }
  
  /* Showcase */
  .showcase {
    width: 107%;
    height: 507px;
    background: url('thh.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 280px;
    margin-bottom: 60px;
    padding-right: 30px;
  }
  
  .showcase h2, .showcase p {
    margin-bottom: 10px;
  }
  
  .showcase .btn {
    margin-top: 20px;
  }
  
  /* Home cards */
  .home-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-bottom: 40px;
  }
  
  .home-cards img {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .home-cards h3 {
    margin-bottom: 05px;
  }
  
  .home-cards a {
    display: inline-block;
    padding-top: 10px;
    color: #0067b8;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .home-cards a:hover i {
    margin-left: 10px;
  }
  
  /* Xbox */
  .xbox {
    width: 100%;
    color: #ffffff;
    height: 550px;
    background: url('https://images.pond5.com/4k-python-word-programming-language-footage-118643513_prevstill.jpeg') no-repeat center center/cover;
    margin-bottom: 100px;
  }
  
  .xbox .content {
    width: 40%;
    padding: 50px 0 0 30px;
  }
  
  .xbox p, .carbon p {
    margin: 20px 0 20px;
  }
  .btn.btn2{
    background-color: #0067b8;
  }
  
  /* Carbon */
  .carbon {
    width: 100%;
    height: 650px;
    margin-bottom: 40px;
    background: url('https://media.licdn.com/dms/image/D4D12AQET1ZHtSRovvg/article-cover_image-shrink_720_1280/0/1664815694828?e=2147483647&v=beta&t=JsF4RSE2pqIhZlRNbGvRpw2PoKbJXDpUrfONIEDF_a8') no-repeat center center/cover;
  }
  
  .carbon .content {
    width: 55%;
    padding: 100px 0 0 30px;
  }
  .flex-group {
    display: flex;
    align-items: center;
    gap: var(--gap, 1rem);
}
.footer-left{
  height: 100px;
  background-color:black;
  color: #f2f2f2;

}
.footer-icons{
  font-size:x-large;
  display:inline-block;
  color: #ccc;
  margin-left: 560px;
  background-color: #080000;

}
.fa.fa-facebook {
  color:white;
  margin: 10px;
}
.fa.fa-instagram{
  color: white;
  margin: 10px;
}
.fa.fa-linkedin{
  color: white;
  margin: 10px;
}
.fa.fa-github{
  color: white;
  margin: 10px;
}
.footer-company-name{
  text-align: center;
  margin-top: 100px;
  padding-top: 20px;
}
.container.footer{
  width: 100%;
}




