* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
  }
  .container{
    width: 110%;
  }
 .responsive{
  width: 100%;
  padding: 20px;
 }

  
  a {
    color: #262626;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  .container {
    width: 90%;
    max-width: 1300px;
    margin: auto;
  }
  
  /* Navba */
  .main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
  }
  .main-menu{
    color: #000;

  }
  
  .main-nav .logo {
    width: 110px;
    height: 70px
  }
  
  .main-nav ul {
    display: flex;
  }
  
  .main-nav ul li {
    padding: 0 10px;
  }
  
  .main-nav ul li a {
    padding-bottom: 2px;
  }
  
  .main-nav ul li a:hover {
    border-bottom: 2px solid #262626;
  }
  
  .main-nav ul.main-menu {
    flex: 1;
    margin-left: 20px;
  }
  
  .menu-btn {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 2;
    display: none;
  }
  
  .btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: blue;
    color: #fff;
    font-size: 15px;;
  }
  
  .btn:hover {
    opacity: 0.9;
    background-color:rgb(18, 1, 1);
  }
  
  .dark {
    color: #fff;
  }
  
  .dark .btn {
    background: #f4f4f4;
    color: #000000;
  }
  /*card */
  .card{
    border-radius: 0px;
    padding: 10px;
    margin: 30px;
    box-sizing:content-box;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
    transition: 0.3s;
}
.card-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.card-last1{
    width: 50%;
}
.card-last{
    float: left;
}
.card.mb4{
    border-radius: 0px;
    display: inline-block;
    padding: 10px;
    width: 42%;
    box-sizing:content-box;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
    transition: 0.3s;
}
.card.mb5{
    display: inline-block;
    border-radius: 0px;
    padding: 10px;
    width: 45%;
    box-sizing:content-box;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
    transition: 0.3s;
    margin-bottom: 30px;
}
/*footer*/
.footer-left{
    height: 100px;
    background-color:black;
    color: #f2f2f2;
  
  }
  .footer-icons{
    font-size:x-large;
    display:inline-block;
    color: #ccc;
    margin-left: 560px;
    background-color: #080000;
  
  }
  .fa.fa-facebook {
    color:white;
    margin: 10px;
  }
  .fa.fa-instagram{
    color: white;
    margin: 10px;
  }
  .fa.fa-linkedin{
    color: white;
    margin: 10px;
  }
  .fa.fa-github{
    color: white;
    margin: 10px;
  }
  
  
  .footer-company-name{
    text-align: center;
    margin-top: 100px;
    padding-top: 20px;
  }
  .container.footer{
    width: 100%;
  }
  
  
  